@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: #e3f0ea;
  --primary-text-color: #2F4858;

  --clr-mint: #AAF1CF;
  --clr-bluewood: #2F4858;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--primary-text-color);
  background: var(--background-color);
}

header a {
  border-bottom: 2px solid var(--clr-bluewood);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}